@media (width>1440px){
    body{
        background-image: url(./assets/desktop/circles.png);
        background-position: 25% 75%;
        background-size: cover;
    }
    
    
    header{
        width: 100vw;
        height: 650px;
        background: none;

    }
   
    .showimg3{
        display: flex;
        position: absolute;
        top: 0%;
        right: 0%;
    }
    .headertxt,h2{
        width: 1015px;
    }
    .headertxt{
        position: relative;
    top: -8%;
    left: -10px;
    }
    h1{
       
        position: relative;
        top: 5%;
        left: -480px;
        font-size: 88px;
     
    }
    h2{
        font-size: 88px;
        line-height: 88px;
        position: relative;
        top: 15%;
    }
    h3{
        width: 790px;
        font-size: 20px;
        line-height: 34px;position: relative;
        top: 10%;
    }
    main{
    width: auto;
    margin-top: 450px;
    height: 940px;
    
    }
    .box1{
        width: 1440px;
height: 600px;
flex-shrink: 0;
position: relative;
top: -16%;
    }
    .img1{
        top:-35%;
        left: 40%;
    }
   
    .tel{
        width: 312px;
        height: 642px;
        position: relative;
    top: -33%;
    left: 4%;
    }
    .box2{
        left: 300px;
        top: -620px;
        width: 450px;
        height: 625px;
    }
    h4{
        font-size: 40px;
    }
    h5{
        font-size: 20px;
        width: 300px;
        height: 170px;
    }
    h6{
        margin-left: -35%;
    }
    button{
        width: 333px;
height: 61px;
border-radius: 12px;

    }
    .showimg1{
        display: none;
    }
    .b1{
        background: #66E2DC;
    }
    .b2{
        background: #FFB964;
    }
    button:hover{
        cursor: grab;
    }
    footer{
        width: 100vw;
    }
    footer p{
        top: 11%;
    }
    .texts{
        gap: 20%;
        width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
    left: 50%;

      
    }
    .ft{
        position: relative;
        top: 30%;
        left: -35%;
    }
    .ftic{
        left: 40%;
    top: -20%;
    position: relative;
    }
    .ftic:hover{
        cursor: pointer;
        background-color: orange;
    }
  
    .texts img{
        margin-top: -35px;
    }
   .showimg4{
    display: flex;
   }
}
    
    
    
